# Virtual environments
.venv/
oracleenv/
cloudflared-linux-x86_64.rpm/
cloudflared-linux-amd64.deb/
venv/
# Python bytecode
__pycache__/
*.pyc

# Secrets and binaries
.env
wallet/
instantclient_23_8/

# OS clutter
.DS_Store
