Flask
flask-cors
requests
redis
python-dotenv
requests-oauthlib
werkzeug
oracledb
oci
sentence-transformers  # if you really need it, else remove
PyPDF2
opentelemetry-api
opentelemetry-sdk
